*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  color: white;
  background: linear-gradient(270deg, #1D2671 0%, #C33764 100%);
  box-shadow: 0px 4px 10px 2px rgba(29, 38, 113, 0.22); 
  height: 148px;
}
.Logo{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.Ham1{
  position: absolute;
  width: 45px;
  height: 5px;
  left: 1262px;
  top: 65px;
  
  background: #FFFFFF;
  border-radius: 30px;
  }
  
  .Ham2{
  position: absolute;
  width: 45px;
  height: 5px;
  left: 1262px;
  top: 76px;
  
  background: #FFFFFF;
  border-radius: 30px;
  }
  
  .Ham3{
  position: absolute;
  width: 45px;
  height: 5px;
  left: 1262px;
  top: 87px;
  
  background: #FFFFFF;
  border-radius: 30px;
  }
  
  .Paragraph{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    margin: auto;
  }

  .Start{
    font-family: Montserrat;
    color:#222771;
    font-size: 36px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  
  }

.addButton
{
  
position: absolute;
width: 72.48px;
height: 72.04px;
left: 1004px;
top: 495.32px;
border-radius: 200px;

background: #1D2671;
}

Button
{ 
  
  position: center;
  width: 72.48px;
  height: 72.04px;
  left: 1004px;
  top: 495.32px;
  border-radius: 400px;
  background: #1D2671;
  
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  
  color: #FFFFFF;
}

.Files{
 position: absolute;
 width: 42px;
 height: 85px;
 left: 1033px;
 top: 448px;
}
.Upload{
 position: absolute;
 width: 42px;
 height: 85px;
 left: 933px;
 top: 448px;
}
  
    